{% extends "layout.html" %}
{% block content %}
<div class="page-container">
    
    <h2>Add project</h2>
    <br>
    <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
        <form method="POST">
            {{ form.csrf_token }}
            <div class="mb-3">
                <label for="{{ form.title.id }}">{{ form.title.label }}</label>
                {{ form.title(class="form-control", id="form-add-new-input", placeholder="Example project") }}
            </div>
            <br>
            <div class="mb-3">
                <label for="{{ form.content.id }}">{{ form.content.label }}</label>
                {{ form.content(class="form-control", id="form-add-new-input", placeholder="Tell us about the project here..") }}
            </div>
            <br>
            <div class="mb-3">
                <label for="{{ form.year.id }}">{{ form.year.label }}</label>
                {{ form.year(class="form-control", id="form-add-new-input", placeholder="2021, 2022...") }}
            </div>
            <br>
            <div class="mb-3">
                <label for="{{ form.technologies.id }}">{{ form.technologies.label }}</label>
                {{ form.technologies(class="form-control", id="form-add-new-input", placeholder="HTML • CSS • JS ...") }}
            </div>
            <br>
            <div class="mb-3">
                <label for="{{ form.image_file.id }}">{{ form.image_file.label }}</label>
                <br>
                <input type="file" class="form-control-file" id="{{ form.image_file.id }}" name="{{ form.image_file.name }}" value="{{ form.image_file.data }}">
            </div>
            <br>
            {{ form.submit(class="btn btn-primary") }}
        </form>
    </div>

    <h2>Delete project: </h2>
    <br>
    <div class="container">
    <table class="table table-hover">
        {% for project in projects %}
        <tr>
            <td> {{ project.year }} </td>
            <td> {{ project.title }} </td>
            <td> {{ project.technologies }} </td>
            <td> 
                <a href="{{ url_for('delete', id=project.id) }}" class="btn btn-outline-danger btn-sm" onclick="return checkDelete()" id="delete"> Delete </a>
            </td>
        </tr>
        {% endfor %}
    </table>    
    </div>  

    <br><br><br>
    <div class="container central">
        <a class="nav-list-item" href="{{ url_for('admin') }}"> back to admin panel
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"/>
            </svg>
        </a>
    </div>  

</div>
{% endblock content %}
