{% extends "layout.html" %}

{% block content %}
<section class="page-container"> 
    <h1>Please feel free to send me an email below:</h1>
    <form id="contact-form" method="post" action="/contact/sent">
      <label for="email">Email: *</label>
      <input type="email" id="email" name="email"><br>
      <label for="message">Message: *</label>
      <textarea id="message" name="message"></textarea><br>
      <input class="btn btn-outline-primary" type="submit" value="Submit">
  </form> 
  <br>
  <div class="container central" id="home">
    <a class="nav-list-item" href="{{ url_for('home') }}"> back home
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-back" viewBox="0 0 16 16">
        <path d="M0 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v2h2a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2v-2H2a2 2 0 0 1-2-2V2zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H2z"/>
      </svg>
    </a>
  </div>

</section>       
{% endblock content %}